# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.so

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# Data
data/raw/
data/processed/

# Outputs
outputs/

# Environment variables
.env

numpy==2.1.1
pandas==2.2.2
matplotlib==3.9.4
scipy==1.14.1

torch==2.4.1
torchvision==0.19.1

transformers==4.44.2
datasets==2.21.0
statsmodels==0.14.2

PyYAML==6.0.2

pytest==8.3.2
black==24.8.0
ruff==0.6.4