# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.so

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# Data
data/raw/
data/processed/

# Outputs
outputs/

# Environment variables
.env